@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,700&family=Nunito:wght@400;700&family=Open+Sans:ital,wght@1,300&family=Poppins&family=Roboto&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --logo-primary: #001b47;
}
* {
  box-sizing: border-box; /*  tells the browser to account for any border and padding in the values you specify for an element's width and height
  reference:  https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing */
  font-family: Poppins, sans-serif;
}
.fa-cloud {
  color: var(--logo-primary);
}

body {
  background: rgb(207, 255, 251);
  background: linear-gradient(
    90deg,
    rgba(207, 255, 251, 1) 0%,
    rgba(145, 214, 255, 1) 100%
  );
}
nav .btn {
  color: white;
  background: var(--logo-primary);
}
.nav-link {
  font-weight: 500;
}
.weather-01 {
  background: rgb(253, 255, 130);
  background: linear-gradient(
    0deg,
    rgba(253, 255, 130, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}
.weather-01 h1,
.weather-02 h1 {
  font-weight: 700;
}
.weather-02 {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(67, 93, 255, 1) 100%
  );
}
.row-timeline-am {
  background: rgb(253, 255, 130);
  background: linear-gradient(
    0deg,
    rgba(253, 255, 130, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}
.row-timeline-pm {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(67, 93, 255, 1) 100%
  );
}
.navbar-brand {
  font-weight: 700;
}
.rounded-extra {
  border-radius: 15px;
}
