@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,700&family=Nunito:wght@400;700&family=Open+Sans:ital,wght@1,300&family=Poppins&family=Roboto&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --logo-primary: #001b47;
}
* {
  box-sizing: border-box; /*  tells the browser to account for any border and padding in the values you specify for an element's width and height
  reference:  https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing */
  font-family: Poppins, sans-serif;
}
.fa-cloud {
  color: var(--logo-primary);
}
nav .btn {
  color: white;
  background: var(--logo-primary);
}
