@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,700&family=Nunito:wght@400;700&family=Open+Sans:ital,wght@1,300&family=Poppins&family=Roboto&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --logo-primary: #001b47;
}
* {
  box-sizing: border-box; /*  tells the browser to account for any border and padding in the values you specify for an element's width and height
  reference:  https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing */
  font-family: Poppins, sans-serif;
}
.fa-cloud {
  color: var(--logo-primary);
}

body {
  background: rgb(119, 152, 255);
  background: linear-gradient(
    90deg,
    rgba(119, 152, 255, 1) 0%,
    rgba(34, 40, 113, 1) 100%
  );
}
nav .btn {
  color: white;
  background: var(--logo-primary);
}
.nav-link {
  font-weight: 500;
}
.weather-01 {
  background: rgb(255, 247, 155);
  background: linear-gradient(
    90deg,
    rgba(255, 247, 155, 1) 0%,
    rgba(255, 255, 54, 1) 100%
  );
}
.weather-01 h1,
.weather-02 h1 {
  font-weight: 700;
}
.weather-02 {
  background: rgb(27, 57, 144);
  background: linear-gradient(
    90deg,
    rgba(27, 57, 144, 1) 0%,
    rgba(6, 8, 62, 1) 100%
  );
}
.row-timeline-am {
  background: rgb(255, 247, 155);
  background: linear-gradient(
    90deg,
    rgba(255, 247, 155, 1) 0%,
    rgba(255, 255, 54, 1) 100%
  );
}
.row-timeline-pm {
  background: rgb(27, 57, 144);
  background: linear-gradient(
    90deg,
    rgba(27, 57, 144, 1) 0%,
    rgba(6, 8, 62, 1) 100%
  );
}
.navbar-brand {
  font-weight: 700;
}
.rounded-extra {
  border-radius: 15px;
}
.weather-01:hover,
.weather-02:hover,
.row-timeline-am:hover,
.row-timeline-pm:hover {
  transform: scale(1.01);
  transition: all 0.2s ease-in-out;
}

/* slider */
